.hero{
    margin: 12px 120px;
}
.hero-text{
    color: #fff;
    font-size: 80px;
    font-weight: 500;
    margin-top: 100px;
}
.hero-explore{
    display: flex;
    align-items: center;
    gap: 50px;
    width: fit-content;
    padding: 5px 0px;
    padding-left: 30px;
    padding-right: 10px;
    border-radius: 60px;
    background-color: #fff;
    cursor: pointer;   
    margin-top: 10px;
}
.hero-explore p{
    color: gray;
    font-size: 23px;
    font: 800;
}
.hero-dot-play{
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}
.hero-dots{
    display: flex;
    align-items: center;
    gap: 30px;
    list-style-type: none;
}
.hero-dot{
    width: 15px;
    height: 15px;
    border-radius: 8px;
    background-color: #fff;
    cursor: pointer;
}
.orange{
    background-color: orangered;
}

.hero-play{
    display: flex;
    align-items: center;
    gap: 30px;
    margin-top: 50px;
}
.hero-play p{
    font-weight: 500;
    color: #fff;
}