.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18px 50px;
  font-family: 'Outfit', sans-serif;
  color: white;
  backdrop-filter: blur(100px);
}

.nav-logo h2 {
  font-size: 28px;
  font-weight: 700;
  letter-spacing: 1px;
}

.nav-menu {
  display: flex;
  gap: 40px;
  list-style: none;
  font-size: 18px;
  align-items: center;
}

.nav-menu li {
  cursor: pointer;
  transition: 0.3s;
  opacity: 0.8;
}

.nav-menu li:hover {
  opacity: 1;
  transform: translateY(-2px);
}

/* CONTACT BUTTON */
.nav-contact {
  background-color: white;
  padding: 8px 18px;
  border-radius: 50px;
  color: orange;
  font-weight: 600;
  transition: 0.3s;
  opacity: 1 !important;
}

.nav-contact:hover {
  background-color: orange;
  color: white;
  transform: scale(1.05);
}
